:root {
    --main-font: "Modak", system-ui;
    --sub-font: "Covered By Your Grace", cursive;
    --text-font: "Inter", sans-serif;
    --color-bear-strong: #6B4A44;
    --color-bear-medium: #D6BFB1;
    --color-bear-light: #D6BFB1;
    --color-green-strong: #949769;
    --color-green-light: #C8CC92;
    --color-purple: #876E83;
    --color-pink: #A07178;
    --color-pink-light: #F4DDD0;
    --color-base: #F5F5F5;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-base);
    background-image: url("../img/ui-bg.svg");
    image-rendering: optimizeQuality;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account-container {
    width: 90%;
    max-width: 400px;
    background-color: var(--color-green-light);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titleHomepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.titleHomepage a {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

.title {
    font-family: var(--main-font);
    color: var(--color-purple);
    font-size: 2.3rem;
    margin: 0;
}

.titleTwo {
    font-family: var(--sub-font);
    color: var(--color-pink);
    font-size: 2.3rem;
    margin: 0;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-account-title {
    font-family: var(--sub-font);
    font-size: 1.5rem;
    color: var(--color-green-strong);
    margin: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-family: var(--text-font);
    font-size: 0.9rem;
    color: var(--color-bear-strong);
    margin-bottom: 0.2rem;
}

.input-group input {
    font-family: var(--text-font);
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-bear-medium);
    border-radius: 0.3rem;
}

.create-account-button {
    font-family: var(--sub-font);
    font-size: 1.2rem;
    background-color: var(--color-green-strong);
    color: var(--color-green-light);
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.create-account-button:hover {
    background-color: var(--color-green-light);
    color: var(--color-green-strong);
}

.reference-back {
    text-decoration: none;
    color: var(--color-bear-strong);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: smaller;
}